div.wd {
	position:relative;
	float:left;
}

a.wdfile {
	color: #444 !important;
	font-size:12px;
	white-space:nowrap;
    text-decoration: none;
	display:block;
	padding:1px 5px 1px 30px;
	* width:1%;
	height:25px;
	line-height:25px;
	background:#FFFFFF url(down.gif) 1px center no-repeat;
	border:1px solid #dddddd;
}

div.wdinfo {
	position:absolute;
	visibility:hidden;
	right:-200px;
	top:0;
	width:195px;
	height:59px;
	background:transparent url(wdinfobg.gif) 0 0 no-repeat;
	z-index:99;
}

div.wdinfo span {
	position:absolute;
	left:80px;
	font-size:10px;
}

div.wdinfo span.name { top:2px; }
div.wdinfo span.size { top:20px; }
div.wdinfo span.type { top:38px; }

