<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Bashni.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Bashni.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Bashni.Properties.Settings>
            <setting name="StepLimit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ThreadCounts" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DiffLimit" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MemoryOptimization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProgressStatistics" serializeAs="String">
                <value>False</value>
            </setting>
        </Bashni.Properties.Settings>
        <Bashni.Settings>
            <setting name="Limit" serializeAs="String">
                <value>5</value>
            </setting>
        </Bashni.Settings>
    </userSettings>
</configuration>
