<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Advertiser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <log4net>

    <!-- ************					 App			***************** -->
    <appender name="App" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/AppLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline===%-5p==%d %newlinemessage: %m%newlineexception: %exception"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="System"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
 

    <root>
      <level value="WARN"/>
      <appender-ref ref="App"/>
    </root>
  </log4net>
  <userSettings>
    <Advertiser.Properties.Settings>
      <setting name="DatabaseFile" serializeAs="String">
        <value />
      </setting>
      <setting name="WaitForCompleteTimeOut" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="LoadImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadExtensions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImageHeight" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="ImageWidth" serializeAs="String">
        <value>1024</value>
      </setting>
    </Advertiser.Properties.Settings>
  </userSettings>
</configuration>
