<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>

    
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>

    
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="KnowledgeBase.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
    
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="KnowledgeBase.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
    
  </configSections>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    <requiredRuntime version="v4.0.20506"/>
  </startup>
  
  <connectionStrings>
    <add name="context" connectionString="Data Source=.;Initial Catalog=KnowledgeBase;Persist Security Info=True;User ID=kbUser;Password=1"/>
  </connectionStrings>
  
  <userSettings>
    <KnowledgeBase.Core.Properties.Settings>
      <setting name="PreviousFile" serializeAs="String">
        <value/>
      </setting>
    </KnowledgeBase.Core.Properties.Settings>
  </userSettings>
  
  <applicationSettings>
    <KnowledgeBase.Core.Properties.Settings>
      <setting name="DocServerPort" serializeAs="String">
        <value>1979</value>
      </setting>
      <setting name="FckEditorPath" serializeAs="String">
        <value>..\..\..\KnowledgeBase.FCKEditor\ckeditor</value>
      </setting>
    </KnowledgeBase.Core.Properties.Settings>
  </applicationSettings>
  
  
  <appSettings>
    <add key="HtmEditorPath" value="..\..\..\KnowledgeBase.FCKEditor\ckeditor"/>
  </appSettings>

  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">

      
      <object name="IKnowledgeView" type="KnowledgeBase.TelerikEditor.KnowledgeViewControl, KnowledgeBase.TelerikEditor" singleton="false"/>
      <object name="ISummaryEditor" type="KnowledgeBase.TelerikEditor.RitchEditorControl, KnowledgeBase.TelerikEditor" singleton="false"/>


    </objects>

  </spring>
  
  
  <log4net>
    <!-- ************					 BusinessLayer			***************** -->
    <appender name="BusinessLayer" type="log4net.Appender.RollingFileAppender">
      <file value="${APPLOGS}\BusinessLayer.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline===%-5p==%d %newlinemessage: %m%newlineexception: %exception"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="BusinessLayer"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <!-- ************					 App			***************** -->
    <appender name="App" type="log4net.Appender.RollingFileAppender">
      <file value="${APPLOGS}\App.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline===%-5p==%d %newlinemessage: %m%newline exception: %exception"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="App"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <!-- ************					 Import			***************** -->
    <appender name="Import" type="log4net.Appender.RollingFileAppender">
      <file value="${APPLOGS}\Import.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline===%-5p==%d %newlinemessage: %m%newline exception: %exception"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Import"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>

    <!-- ************					 Output			***************** -->
    <appender name="Output" type="log4net.Appender.RollingFileAppender">
      <file value="${APPLOGS}\Output.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline===%-5p==%d %newlinemessage: %m%newlineexception: %exception"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Output"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <root>
      <level value="INFO"/>
      <!--level value="Off" /-->
      <appender-ref ref="BusinessLayer"/>
      <appender-ref ref="Import"/>
      <appender-ref ref="App"/>
      <!--appender-ref ref="Output" /-->

    </root>
  </log4net>
  

</configuration>
